/**
* @author Ramadan Ismael
*/

.tooltip {
    -fx-background-color: #A4CFFF; /* Cor de fundo */
    -fx-text-fill: #ecf0f1; /* Cor do texto */
    -fx-padding: 5px; /* Espaçamento interno */
    -fx-font-family: Arial;
    -fx-font-weight: normal;
    -fx-font-size: 11pt; /* Tamanho da fonte */
    -fx-border-color: #ddd; /* Cor da borda */
    -fx-border-width: 0.5px; /* Largura da borda */
    -fx-border-radius: 5px; /* Borda arredondada */
    -fx-background-radius: 5px; /* Fundo arredondado */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 5); /* Sombra */
}

.tooltip:show {
    -fx-opacity: 1; /* Transição para opacidade total */
    -fx-transition: opacity 0.3s ease-out; /* Animação */
}

.tooltip-content {
    -fx-font-family: "Arial"; /* Família de fontes */
    -fx-font-weight: normal; /* Texto em negrito */
}